# AsignaciÃ³n de Variables

In [1]:
Ingresos = 1000
Gastos = 400

In [5]:
Ingresos

1000

In [9]:
print(Ingresos)
print(Gastos)

1000
400

In [10]:
margen = Ingresos - Gastos

In [11]:
margen

600

In [13]:
print(margen)

600

In [16]:
ingresos_text = "los ingresos han sido altos"
ingresos_alt = 'los ingresos han sido altos'
print(ingresos_text)
print(ingresos_alt)

los ingresos han sido altos
los ingresos han sido altos

In [19]:
 import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

`print`

In [21]:
ingresos = 1000
gastos = 100
beneficios = ingresos - gastos

In [24]:
print(ingresos)
print(gastos)
print("los beneficios han sido de:")
print(beneficios)

1000
100
los beneficios han sido de:
900

In [26]:
mes = "junio"
print("los beneficios de %s han sido %s millones" %(mes,beneficios))

los beneficios de junio han sido 900 millones

In [29]:
print("los beneficios de %s han sido %s millones" %(beneficios,mes))

los beneficios de 900 han sido junio millones

# Comentarios y comentarios multilineas

In [31]:
# comentario en linea
# print("esto lo ignora")
print("esto si lo ejecuta")

esto si lo ejecuta

In [32]:
print("fin del programa")
# "esta linea indica que hemos terminado"

fin del programa

In [34]:
'''
comentario multilinea
puedo usar linea sin repetir el #
'''

'\ncomentario multilinea\npuedo usar linea sin repetir el #\n'

In [35]:
ventas_jun_jul = ventas_jun + ventas_jul

ventas_jun = 100
ventas_jul = 150

NameError: name 'ventas_jun' is not defined

In [36]:
ventas_jun

NameError: name 'ventas_jun' is not defined

In [37]:
ventas_jun = 100
ventas_jul = 150

In [39]:
ventas_jun_jul = ventas_jun + ventas_jul

In [40]:
ventas_jun_jul

250

In [42]:
print("las ventas de junio a julio son ventas son", ventas_jun_jul)

las ventas de junio a julio son ventas son 250

In [43]:
altura = 180; peso = 75

In [44]:
 x, y, z = 12, 23, 45

In [45]:
print (x)

12

In [47]:
altura = 1.85
del altura
print(altura)

NameError: name 'altura' is not defined

# Tipo de Datos

## variables numÃ©ricas

In [48]:
numero = 22
type (numero)

int

In [49]:
numero_real = 22.0
type (numero_real)

float

In [51]:
numero_real_decimales = 22.45123
type (numero_real_decimales)

float

In [52]:
12 + 10

22

In [53]:
10 - 12

-2

In [54]:
100** 3

1000000

In [55]:
100 * 3

300

In [62]:
print("resto division")
print(10 / 3) 
print(int(10/3))
print(10%3)
print(10//3)

resto division
3.3333333333333335
3
1
3

In [68]:
n = 23205021
print("Â¿es", n, "par?")
resto = n % 2
print("el resto es", resto)
if resto == 0:
    print("es par")
else:
    print("es impar")

Â¿es 23205021 par?
el resto es 1
es impar

## Strings

In [71]:
print("string con 'simples'")
print('strings con "dobles"')
print("string con \"simples o dobles\"")

string con 'simples'
strings con "dobles"
string con "simples o dobles"

In [72]:
print("primera linea\n segunda linea\n\tTercera linea, tabulada")

primera linea
 segunda linea
	Tercera linea, tabulada

In [73]:
mi_string = "primera linea\nSegunda linea\n\tTercera linea, tabulada"
print(mi_string)

primera linea
Segunda linea
	Tercera linea, tabulada

In [78]:
nombre = "antonia"
apellido = "scott"

nombre_apellido = nombre + " " +apellido
print (nombre_apellido)

antonia scott

In [80]:
esto_es_una_prueba = "pues eso, que estamos jugando"
un_entero = 100
print(esto_es_una_prueba + un_entero)

TypeError: can only concatenate str (not "int") to str

## Booleano

In [83]:
ya_se_de_ptython = False
type(ya_se_de_ptython)

bool

In [85]:
dinerito = 5
dinerito >= 15

False

In [88]:
dinerito = 15
condi_1 = dinerito >= 15
print(condi_1)
print(type(condi_1))

True
<class 'bool'>

## ConversiÃ³n de tipos

In [90]:
num_real = 24.69
print(type(num_real))

num_ent = int(num_real)
print(num_ent)
print(type(num_ent))

<class 'float'>
24
<class 'int'>

In [91]:
num_real = 24.686
num_redondeado = round(num_real,2)

In [92]:
num_redondeado

24.69

In [93]:
num_redondeado = 24.69
num_convertido = round(num_redondeado, 0)

In [94]:
print(type(num_convertido))

<class 'float'>

In [95]:
num_convertido

25.0

In [96]:
num_real = 24.69
num_entero = 12

real_str = str(num_real)
entero_str = str(num_entero)

print(real_str, "su tipo", type(real_str))
print(entero_str, "su tipo", type(entero_str))

24.69 su tipo <class 'str'>
12 su tipo <class 'str'>

In [97]:
print(num_real + num_entero)
print(real_str + entero_str)

36.69
24.6912

In [99]:
mi_entero = 98
print(mi_entero)

98

In [104]:
mi_cadena = "98"
mi_entero = int(mi_cadena)
print(mi_cadena, type(mi_cadena))
print(mi_entero, type(mi_entero))

mi_cadena_real = "98.33"
mi_real = float(mi_cadena_real)

98 <class 'str'>
98 <class 'int'>

In [105]:
print(mi_real, type(mi_real))

98.33 <class 'float'>

In [106]:
booleano = bool(123)
print(booleano, type(booleano))

True <class 'bool'>

In [108]:
booleano = bool(0)
print(booleano, type(booleano))

False <class 'bool'>

In [110]:
booleano = bool("")
booleano_2 = bool("esto es otro tipo")
print(booleano, type(booleano))
print(booleano_2, type(booleano_2))

False <class 'bool'>
True <class 'bool'>

In [111]:
bool_str = str(booleano)
booleano_2 = str(booleano_2)

In [112]:
bool_str

'False'

In [113]:
booleano_2

'True'

In [1]:
real_str = "68,24"
real = float(real_str)

ValueError: could not convert string to float: '68,24'

In [2]:
real_str.replace(",",".")

'68.24'

In [3]:
nuevo_str = real_str.replace(",",".")
print(type(nuevo_str))

<class 'str'>

In [4]:
real = float(nuevo_str)
print(type(nuevo_str))

<class 'str'>

## Imput

In [6]:
primer_imput = input("escribeme algo mi arma")

escribeme algo mi arma 98

In [8]:
primer_imput

'98'

In [10]:
nombre = input("Como te llamas")
print("encantado de conocerte", nombre)
preferencias = input("Y, Â¿que te parece este magnifico video?")
print("coincido")

Como te llamas Bryan

encantado de conocerte Bryan

Y, Â¿que te parece este magnifico video? genial

coincido

## Nome

In [13]:
print(None)

None

In [14]:
"" == None

False

In [15]:
0 == None

False

In [16]:
False == None

False

In [17]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Funciones Built in

In [4]:
# FunciÃ³n len
print(len("esto es una cadena de longitud"))
# funcion Max
print(max(1,12,85,36,25,78,33))

30
85

In [7]:
cadena = "la longitud de esta cadena es"
print( cadena, len(cadena), "y no es un float", sep ="**text**", end = "_")
print("esto es otra linea")

la longitud de esta cadena es**text**29**text**yno es un float_esto es otra linea

## MÃ©todos

In [25]:
sting_ejemplo = "string en minuscula"

# METODO PARA PONER TODO EN MAYUSCULA (UPPER)
print(sting_ejemplo.upper())

# metodo todo minuscila (LOWER) 

print("ESTO ES UN EJEMPLO DIFERENTE".lower())
string_2 = "EJEMPLO DIFERENTE"
print(string_2.lower())

# METODO PARA REEMPLAZAR CARACTER O VARIOS

print(sting_ejemplo.replace("s", "C"))
print(sting_ejemplo.replace("mayuscula" , "minuscula"))
print(sting_ejemplo.replace("s", ""))

# METODO PARA CONVERTIR UN STRING EN LISTA
print("esto se va convertir en una lista de strings".split(" "))

# METODO PARA CONOCER LA POSICION DENTRO DE UN STRING

print(sting_ejemplo.index("n"))

STRING EN MINUSCULA
esto es un ejemplo diferente
ejemplo diferente
Ctring en minuCcula
string en minuscula
tring en minucula
['esto', 'se', 'va', 'convertir', 'en', 'una', 'lista', 'de', 'strings']
4

## Listas

In [26]:
# lista de nÃºmeros
numeros = [1, 3, 5, 6]
print(numeros)
print(type(numeros))

[1, 3, 5, 6]
<class 'list'>

In [27]:
# lista de strings
stringd = ["esto", "es", "una", "lista"]
print(stringd)

['esto', 'es', 'una', 'lista']

In [28]:
# lista de tipos mezclados

mix = ["esto es", 12, -3, -5, True, False, "lista"]
print(mix)

['esto es', 12, -3, -5, True, False, 'lista']

In [30]:
# lista dentro de listas

listas = ["esto es", 12, 15, [True, False, 15], "ok"]
listas

['esto es', 12, 15, [True, False, 15], 'ok']

In [31]:
len(listas)

5

In [34]:
concatenacion = mix + listas
print(concatenacion)
print(type(concatenacion))

['esto es', 12, -3, -5, True, False, 'lista', 'esto es', 12, 15, [True, False, 15], 'ok']
<class 'list'>

In [35]:
lista_ejemplo = ["esto", 2, 32, "patata", "nuevo"]
print(lista_ejemplo[0])
print(lista_ejemplo[-1])
print(lista_ejemplo[2])

esto
nuevo
32

## Metodo en listas

In [44]:
# AÃ±adir elementos
mix.append("coche")
print(mix)

# aÃ±adir elementos en una posicion determinada

mix.insert(1,"cuchara")
print(mix)

# quitar elementos
# mix.clear()

# quitar elemento desde su posiciÃ³n
mix.pop(1)
print(mix)

#quitar elemento por su valor

mix.remove("coche")
print(mix)

# ordenar la lista
# mix.sort() EN ESTE CASO NO LO HIZO BIEN PORQUE EXISTEN NÃMEROS 
print(mix)

['cuchara', 'cuchara', 'esto es', 12, -3, -5, True, False, 'lista', 'coche', 'coche', 'coche', 'coche', 'coche', 'coche']
['cuchara', 'cuchara', 'cuchara', 'esto es', 12, -3, -5, True, False, 'lista', 'coche', 'coche', 'coche', 'coche', 'coche', 'coche']
['cuchara', 'cuchara', 'esto es', 12, -3, -5, True, False, 'lista', 'coche', 'coche', 'coche', 'coche', 'coche', 'coche']
['cuchara', 'cuchara', 'esto es', 12, -3, -5, True, False, 'lista', 'coche', 'coche', 'coche', 'coche', 'coche']
['cuchara', 'cuchara', 'esto es', 12, -3, -5, True, False, 'lista', 'coche', 'coche', 'coche', 'coche', 'coche']

## listas y colecciones

In [2]:
# lista de nÃºmeros, string, bool

nums= [6,2,6,3,8]
months= ["enero","febrero", ",marzo", "abril"]
mix= [5,7,8,"abril", True, None, ["blanco", "negro"]]

In [3]:
print(nums[1])

2

In [5]:
print(months.index("febrero"))

1

In [15]:
degrees=[22,35,36,3,38,39,40]
sub_des= degrees[1:3] #ojo no se incluye el ultyimo indice del anterior
print(sub_des)
sub_des= degrees[1:4]
print(sub_des)
sub_des1=degrees[1:len(degrees)]
sub_des2=degrees[1:]
print(sub_des1)
print(sub_des2)

[35, 36]
[35, 36, 3]
[35, 36, 3, 38, 39, 40]
[35, 36, 3, 38, 39, 40]

In [21]:
#modificar elementos

months = ["enero", "febrero", "marzo", "abril"]
months[1]= "Abril"
print(months)

['enero', 'Abril', 'marzo', 'abril']

In [26]:
# aÃ±adir elementos
motocicletas = ["honda", "yamaha", "suzuki"]
motocicletas.append("kawasaki")
print(motocicletas)
motocicletas.insert(3, "bultaco")
print(motocicletas)

['honda', 'yamaha', 'suzuki', 'kawasaki']
['honda', 'yamaha', 'suzuki', 'bultaco', 'kawasaki']

In [32]:
# eliminar elementos  (remove) (pop)
cars=["ws", "seat", "toyota", "bmw", "wv"]
cars.remove ("ws")
print(cars)

['seat', 'toyota', 'bmw', 'wv']

In [33]:
cars=["ws", "seat", "toyota", "bmw", "wv"]
eliminado = cars.pop(1)
print(cars)
print(eliminado)

['ws', 'toyota', 'bmw', 'wv']
seat

In [35]:
cars=["ws", "seat", "toyota", "bmw", "wv"]
cars.remove ("tesla")

ValueError: list.remove(x): x not in list

In [47]:
degrees= [22,30,21,45,85,70,90,1]
 #ordenar de forma ascendente
degrees.sort()
print(degrees)
#mayor a menor
degrees.sort(reverse=True)
print(degrees)

#contar numero de elementos
print(len(degrees))

#invertir el orden

degrees.reverse()
print(degrees)

#ocurrencia es el numero de veces en una lista
print(degrees.count(21))

[1, 21, 22, 30, 45, 70, 85, 90]
[90, 85, 70, 45, 30, 22, 21, 1]
8
[1, 21, 22, 30, 45, 70, 85, 90]
1

In [52]:
degrees= [22,30,21,45,85,70,90,1]
ultimo_elemento= degrees[len(degrees) -1]
ultimo_elemento

1

## tuplas

In [55]:
tupla_ejemplo = (3,"testo")
print(tupla_ejemplo,type(tupla_ejemplo))

(3, 'testo') <class 'tuple'>

In [56]:
print("el primer elemento es", tupla_ejemplo[0])
print("el segundo elemento es", tupla_ejemplo[1])

el primer elemento es 3
el segundo elemento es testo

In [59]:
mala_tupla = (24)
print(mala_tupla, type(mala_tupla))
buena_tupla = (24,)
print(buena_tupla, type(buena_tupla))

24 <class 'int'>
(24,) <class 'tuple'>

In [81]:
#aÃ±adir tupla
tupla_aind= (1,2,3, ("a","b","c",))
print(tupla_aind)
print(len(tupla_aind))

(1, 2, 3, ('a', 'b', 'c'))
4

In [82]:
print(tupla_aind[2])
print(tupla_aind[3][1])

3
b

In [84]:
# SON ITERABLES 
for i in tupla_aind:
    print(i)

1
2
3
('a', 'b', 'c')

In [85]:
# slicing
tupla_bis= tupla_aind[2:]
print(tupla_bis)

(3, ('a', 'b', 'c'))

In [86]:
tupla_1= (1,2,3)
tupla_2 = (4,5,6)
print(tupla_1+tupla_2)

(1, 2, 3, 4, 5, 6)

In [88]:
# combinar listas y tupla

listas_e = ["fresas", "naraja", "limones",("kiwi","manzana")]
tupla_list= ("fesas", ["naranaja", "limones"], "manzana")
print(type(listas_e))
print(type(tupla_list))

<class 'list'>
<class 'tuple'>

## Diccionarios

In [ ]:
#sintaxis {}
# nombre_diccionario={valor1:valor1, clave2: valor2}

In [5]:
coche_dict={
    "color":"rojo",
    "marca": "tesla",
    "modelo":"cybertruck",
    "peso":35000, 
    "cambio automatico": True}
coche_dict

{'color': 'rojo',
 'marca': 'tesla',
 'modelo': 'cybertruck',
 'peso': 35000,
 'cambio automatico': True}

In [10]:
#acceso
print(coche_dict["color"])
print(coche_dict["modelo"])

rojo
cybertruck

In [13]:
#cambiar elementos
coche_dict["color"]=["rojo","gris"]
coche_dict

{'color': ['rojo', 'gris'],
 'marca': 'tesla',
 'modelo': 'cybertruck',
 'peso': 35000,
 'cambio automatico': True,
 'colo': ['rojo', 'gris']}

In [14]:
#aÃ±adir elemento
coche_dict["puertas"] = 6
coche_dict["puertas"]

6

In [15]:
#elimimar elementos
del coche_dict["modelo"]
coche_dict

{'color': ['rojo', 'gris'],
 'marca': 'tesla',
 'peso': 35000,
 'cambio automatico': True,
 'colo': ['rojo', 'gris'],
 'puertas': 6}

In [16]:
#conocer las claves de dciccionario

coche_dict.keys()

dict_keys(['color', 'marca', 'peso', 'cambio automatico', 'colo', 'puertas'])

In [17]:
#conocer valores de diccionario

coche_dict.values()

dict_values([['rojo', 'gris'], 'tesla', 35000, True, ['rojo', 'gris'], 6])

In [20]:
# Crear diccionario vacio

tienda={}
print(type(tienda))
tienda["direccion"]="montesa 12"
tienda

<class 'dict'>

{'direccion': 'montesa 12'}

In [21]:
coche_dict["modelo"]

KeyError: 'modelo'

In [23]:
modelo= coche_dict.get("modelo","tesla")
print(coche_dict)

{'color': ['rojo', 'gris'], 'marca': 'tesla', 'peso': 35000, 'cambio automatico': True, 'colo': ['rojo', 'gris'], 'puertas': 6}

In [25]:
# iterar

for i in coche_dict:
    print(i)
    print(coche_dict[i])

color
['rojo', 'gris']
marca
tesla
peso
35000
cambio automatico
True
colo
['rojo', 'gris']
puertas
6

In [26]:
for i in coche_dict:
    print(i)
    print(i, ":", coche_dict[i])

color
color : ['rojo', 'gris']
marca
marca : tesla
peso
peso : 35000
cambio automatico
cambio automatico : True
colo
colo : ['rojo', 'gris']
puertas
puertas : 6

In [27]:
coche_dict.items()

dict_items([('color', ['rojo', 'gris']), ('marca', 'tesla'), ('peso', 35000), ('cambio automatico', True), ('colo', ['rojo', 'gris']), ('puertas', 6)])

In [29]:
for clave, valor in coche_dict.items():
    print(clave,":",valor)

color : ['rojo', 'gris']
marca : tesla
peso : 35000
cambio automatico : True
colo : ['rojo', 'gris']
puertas : 6

## Sets

In [33]:
colores = {"azul","rojo","verde","naranja"}
print(type(colores))
colores

<class 'set'>

{'azul', 'naranja', 'rojo', 'verde'}

In [35]:
#aÃ±adir valores
colores.add("violeta")
print(colores)

{'verde', 'naranja', 'azul', 'rojo', 'violeta'}

In [38]:
#aÃ±adir listas en Sets

colores.update(["celeste", "budeos","naranja"])
print(colores)

{'budeos', 'verde', 'naranja', 'azul', 'rojo', 'celeste', 'violeta'}

In [42]:
#quitar valores
colores.remove("naranja")
print(colores)

{'budeos', 'verde', 'azul', 'rojo', 'celeste', 'violeta'}

In [43]:
#bucle

for color in colores:
    print(color)

budeos
verde
azul
rojo
celeste
violeta

In [45]:
#comprobar si dos sets tienen los mismos valores

set1= {1,2,4,3,5,6,8}
set2= {2,1,4}
set1 ==set2

False

In [47]:
lista_comn=[100,10,23,23,15,32,15,32,45,10,100,23]
print(set(lista_comn))

{32, 100, 10, 45, 15, 23}

In [50]:
print(list(set(lista_comn)))
lista_comn=list(set(lista_comn))
lista_comn

[32, 100, 10, 45, 15, 23]

[32, 100, 10, 45, 15, 23]

## Funciones de usuario

In [58]:
def conversor_km_millas(distancia):
    millas = 0.62*distancia
    return round(millas,1)
conversor_km_millas (200)

124.0

In [59]:
millas=conversor_km_millas(2212)
millas

1371.4

In [61]:
from datetime import datetime
def que_hora_es():
    now=datetime.now().time()
    return now

print(que_hora_es())

15:27:54.642442

In [69]:
from datetime import datetime
def que_hora_es():
    now = datetime.now().time()
    print(now)

In [71]:
hora=que_hora_es ()
print(hora, type(hora))

17:31:16.657758
None <class 'NoneType'>

NameError: name 'now' is not defined

In [74]:
def conversor_km_millas(distancia):
    millas = 0.62*distancia
    metros = 1000*distancia
    return [round(millas,1),millas,metros]
salida=conversor_km_millas (2221)
type(salida)

list

## argumentos posicionales

In [76]:
def multiplica(x1,x2,x3,x4):
    resultado=(x1*x2*x3)/x4
    return resultado
multiplica(3,4,5,6)

10.0

In [78]:
multiplica(x1=3, x4=6,x3=5,x2=4)

10.0

In [84]:
try:
    multiplica (x4=0, x2= 3, x3=12, x1=6)
except exception as ex:
    print(ex)
    print("error en la funcion")

NameError: name 'exception' is not defined

In [87]:
def multiplica(x1,x2,x3,x4):
    if x4==0:
        print("error: no puedo dividir a 0")
    else:
        resultado=(x1*x2*x3)/x4
        return resultado
multiplica(3,4,5,6)

10.0

In [88]:
multiplica (x4=0, x2= 3, x3=12, x1=6)

error: no puedo dividir a 0