# Asignación de Variables

In [1]:
Ingresos = 1000
Gastos = 400

In [5]:
Ingresos

1000

In [9]:
print(Ingresos)
print(Gastos)

1000
400

In [10]:
margen = Ingresos - Gastos

In [11]:
margen

600

In [13]:
print(margen)

600

In [16]:
ingresos_text = "los ingresos han sido altos"
ingresos_alt = 'los ingresos han sido altos'
print(ingresos_text)
print(ingresos_alt)

los ingresos han sido altos
los ingresos han sido altos

In [19]:
 import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

`print`

In [21]:
ingresos = 1000
gastos = 100
beneficios = ingresos - gastos

In [24]:
print(ingresos)
print(gastos)
print("los beneficios han sido de:")
print(beneficios)

1000
100
los beneficios han sido de:
900

In [26]:
mes = "junio"
print("los beneficios de %s han sido %s millones" %(mes,beneficios))

los beneficios de junio han sido 900 millones

In [29]:
print("los beneficios de %s han sido %s millones" %(beneficios,mes))

los beneficios de 900 han sido junio millones

# Comentarios y comentarios multilineas

In [31]:
# comentario en linea
# print("esto lo ignora")
print("esto si lo ejecuta")

esto si lo ejecuta

In [32]:
print("fin del programa")
# "esta linea indica que hemos terminado"

fin del programa

In [34]:
'''
comentario multilinea
puedo usar linea sin repetir el #
'''

'\ncomentario multilinea\npuedo usar linea sin repetir el #\n'

In [35]:
ventas_jun_jul = ventas_jun + ventas_jul

ventas_jun = 100
ventas_jul = 150

NameError: name 'ventas_jun' is not defined

In [36]:
ventas_jun

NameError: name 'ventas_jun' is not defined

In [37]:
ventas_jun = 100
ventas_jul = 150

In [39]:
ventas_jun_jul = ventas_jun + ventas_jul

In [40]:
ventas_jun_jul

250

In [42]:
print("las ventas de junio a julio son ventas son", ventas_jun_jul)

las ventas de junio a julio son ventas son 250

In [43]:
altura = 180; peso = 75

In [44]:
 x, y, z = 12, 23, 45

In [45]:
print (x)

12

In [47]:
altura = 1.85
del altura
print(altura)

NameError: name 'altura' is not defined

# Tipo de Datos

## variables numéricas

In [48]:
numero = 22
type (numero)

int

In [49]:
numero_real = 22.0
type (numero_real)

float

In [51]:
numero_real_decimales = 22.45123
type (numero_real_decimales)

float

In [52]:
12 + 10

22

In [53]:
10 - 12

-2

In [54]:
100** 3

1000000

In [55]:
100 * 3

300

In [62]:
print("resto division")
print(10 / 3) 
print(int(10/3))
print(10%3)
print(10//3)

resto division
3.3333333333333335
3
1
3

In [68]:
n = 23205021
print("¿es", n, "par?")
resto = n % 2
print("el resto es", resto)
if resto == 0:
    print("es par")
else:
    print("es impar")

¿es 23205021 par?
el resto es 1
es impar

## Strings

In [71]:
print("string con 'simples'")
print('strings con "dobles"')
print("string con \"simples o dobles\"")

string con 'simples'
strings con "dobles"
string con "simples o dobles"

In [72]:
print("primera linea\n segunda linea\n\tTercera linea, tabulada")

primera linea
 segunda linea
	Tercera linea, tabulada

In [73]:
mi_string = "primera linea\nSegunda linea\n\tTercera linea, tabulada"
print(mi_string)

primera linea
Segunda linea
	Tercera linea, tabulada

In [78]:
nombre = "antonia"
apellido = "scott"

nombre_apellido = nombre + " " +apellido
print (nombre_apellido)

antonia scott

In [80]:
esto_es_una_prueba = "pues eso, que estamos jugando"
un_entero = 100
print(esto_es_una_prueba + un_entero)

TypeError: can only concatenate str (not "int") to str

## Booleano

In [83]:
ya_se_de_ptython = False
type(ya_se_de_ptython)

bool

In [85]:
dinerito = 5
dinerito >= 15

False

In [88]:
dinerito = 15
condi_1 = dinerito >= 15
print(condi_1)
print(type(condi_1))

True
<class 'bool'>

## Conversión de tipos

In [90]:
num_real = 24.69
print(type(num_real))

num_ent = int(num_real)
print(num_ent)
print(type(num_ent))

<class 'float'>
24
<class 'int'>

In [91]:
num_real = 24.686
num_redondeado = round(num_real,2)

In [92]:
num_redondeado

24.69

In [93]:
num_redondeado = 24.69
num_convertido = round(num_redondeado, 0)

In [94]:
print(type(num_convertido))

<class 'float'>

In [95]:
num_convertido

25.0

In [96]:
num_real = 24.69
num_entero = 12

real_str = str(num_real)
entero_str = str(num_entero)

print(real_str, "su tipo", type(real_str))
print(entero_str, "su tipo", type(entero_str))

24.69 su tipo <class 'str'>
12 su tipo <class 'str'>

In [97]:
print(num_real + num_entero)
print(real_str + entero_str)

36.69
24.6912

In [99]:
mi_entero = 98
print(mi_entero)

98

In [104]:
mi_cadena = "98"
mi_entero = int(mi_cadena)
print(mi_cadena, type(mi_cadena))
print(mi_entero, type(mi_entero))

mi_cadena_real = "98.33"
mi_real = float(mi_cadena_real)

98 <class 'str'>
98 <class 'int'>

In [105]:
print(mi_real, type(mi_real))

98.33 <class 'float'>

In [106]:
booleano = bool(123)
print(booleano, type(booleano))

True <class 'bool'>

In [108]:
booleano = bool(0)
print(booleano, type(booleano))

False <class 'bool'>

In [110]:
booleano = bool("")
booleano_2 = bool("esto es otro tipo")
print(booleano, type(booleano))
print(booleano_2, type(booleano_2))

False <class 'bool'>
True <class 'bool'>

In [111]:
bool_str = str(booleano)
booleano_2 = str(booleano_2)

In [112]:
bool_str

'False'

In [113]:
booleano_2

'True'

In [1]:
real_str = "68,24"
real = float(real_str)

ValueError: could not convert string to float: '68,24'

In [2]:
real_str.replace(",",".")

'68.24'

In [3]:
nuevo_str = real_str.replace(",",".")
print(type(nuevo_str))

<class 'str'>

In [4]:
real = float(nuevo_str)
print(type(nuevo_str))

<class 'str'>

## Imput

In [6]:
primer_imput = input("escribeme algo mi arma")

escribeme algo mi arma 98

In [8]:
primer_imput

'98'

In [10]:
nombre = input("Como te llamas")
print("encantado de conocerte", nombre)
preferencias = input("Y, ¿que te parece este magnifico video?")
print("coincido")

Como te llamas Bryan

encantado de conocerte Bryan

Y, ¿que te parece este magnifico video? genial

coincido

## Nome

In [13]:
print(None)

None

In [14]:
"" == None

False

In [15]:
0 == None

False

In [16]:
False == None

False

In [17]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!